/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #e53030;
    /* height: 36%; */
    padding: 19px;
  }
  
  ul {
    list-style: none; /* Remove bullet points from list items */
    display: flex; /* Display the list items in a row */
  }
  
  li {
    margin: 0 10px; /* Add some spacing between list items */
  }
  
  a {
    text-decoration: none; /* Remove underlines from anchor links */
    color: #fff; /* Set the text color of the links */
    padding: 10px; /* Add padding around the links to make them clickable */
  }
  
  a:hover {
    background-color: #555; /* Change the background color of links on hover */
  }
  